<footer class="attribution__footer">
  <div class="overlay__div--tint"></div>
  <ul class="attribution__unordered-list">
    <li class="attribution__list-item">
      <a href="https://github.com/csrail">About</a>
    </li>
    <li class="attribution__list-item">
      <a href="https://gitter.im/TheOdinProject/theodinproject">Contact</a>
    </li>
    <li class="attribution__list-item">
      <a href="https://github.com/csrail">Portfolio</a>
    </li>
  </ul>
</footer>