<footer class="attribution__footer">
  <div class="overlay__div--tint"></div>
  <ul class="attribution__unordered-list">
    <a href="https://github.com/csrail">
      <li class="attribution__list-item">About</li>
    </a>
    <a href="https://gitter.im/TheOdinProject/theodinproject">
      <li class="attribution__list-item">Contact</li>
    </a>
    <a href="https://github.com/csrail">
      <li class="attribution__list-item">Portfolio</li>
    </a>
  </ul>
</footer>