<p class="introduction__paragraph">
  The <a href="http://practicalcryptography.com/ciphers/caesar-cipher/">Caesar Cipher</a>, is a simple encryption technique which substitutes one letter for a different one based on the shift factor used.<br><br>
  This encryption technique was named after <span>Julius Caesar</span>, who used it in his private messages.<br><br>
  <span class="cursor__span blink"></span>
</p>
