<form action="/" method="GET">
  <label class="" for="message">Your Message For Encryption:</label>
  <textarea autofocus class="encrypter__textarea"name="message" placeholder="Guru Lahima lived 4000 years ago in the Northern Air Temple. It is said that he unlocked the secrets of weightlessness and became untethered from the earth, living his final 40 years without ever touching the ground. Like all great childrens tales, it contains truth within the myth. Lahima once wrote, 'Instinct is a lie told by a fearful body, hoping to be wrong.' It means that when you base your expectations only on what you see, you blind yourself to the possibilities of a new reality."></textarea>
  
  <label class="" for="shift_factor">Shift Factor:</label>
  <input class="input--number" type="number" name="shift_factor" placeholder="">
  <input class="input--submit" type="submit" value="Encrypt">
</form>